body {
    background-color: #121115;
}

#wrapper {
    margin: auto;
    width: 75%;
//    background-color: #444;
}

#header {
    font-family: monospace;
    font-size: x-large;

    background: -moz-linear-gradient(top, #65AACE, #EBEFF5);
    background: -webkit-gradient(linear, left top, left bottom, from(#65AACE), to(#EBEFF5));

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    padding: 10px;
    text-align: center;
    background-color: #a2e8fe;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar {
    background-color: #4b7afd;
    text-align: center;
//    float: left;
//    width: 20%;
}

#document {
    background-color: #f7fed3;
    font-family: sans-serif;
//    float:left;
    width: 70%;
    padding: 5%;
}

#footer {
  background-color: #fcc1c1;
  clear: both;
}

h1 {
  margin: 0;
}